# {{ ansible_managed }}

{{ sanoid__datasets | cadair.sanoid.to_ini }}

{% for template, config in sanoid__templates.items() %}
[template_{{ template}}]
{{ config | cadair.sanoid.to_toml }}
{% endfor %}
