[Unit]
Description=Syncoid job for {{ source_dataset_string }} to {{ sink_dataset_string }}
Requires=zfs.target
After=zfs.target

[Service]
User={{ local_user }}
Environment=TZ=UTC
Type=simple
ExecStart=/usr/sbin/syncoid {{ source_dataset_string }} {{ sink_dataset_string }} {{ syncoid_arguments | join(' ') }}
ExecStartPre={{ job.pre_cron_commands | default('') }}
ExecStartPost={{ job.post_cron_commands | default('') }}
